<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title> My Collections Dashboard </title>
<style>
  
  .button{
  background-color:;
  border: none;
  color: red;
  padding: 60px 380px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 8px 10px;
  cursor: pointer;
  margin-left:120px;
  </style>
    <!-- Bootstrap core CSS -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
 <% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
   <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <class="nav"></class>
                  <span data-feather="file"></span>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                 <h4> My Wedding </h4>
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                 <h4> My Birthday</h4>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                 <h4> My Baby Shower</h4>
                </a>
              </li>
            </ul>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                 <h4> My Health Condition</h4>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  My Bridal Shower
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Sacco Contributions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Charity Contributions
                </a>
              </li>
            </ul>
          </div>
        </nav>
<body>
<p align="left"><input type="button" class="button" value="UserID"></p>
<p align="left"><input type="button" class="button" value="Userlink"></p>
</br>
</br>
<p align="left"><input type="button" class="button" value="AMOUNT"> </p>

</br>
</br>


  </body>
</html>
